@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0f5e5b;
  --color-secondary: teal;
}
