@import "tailwindcss";

h1 {
  @apply sm:text-5xl text-[40px] font-semibold;
}

input {
  @apply border-mygray border-[1px] h-9 px-2 rounded-lg;
}

input:focus {
  outline: none;
  border-color: #0f5e5b;
  box-shadow: 0 0 0 1px #0f5e5b;
}

input,
select {
  transition: border-color 0.2s ease-in-out;
}

label {
  @apply sm:text-sm;
}

select {
  @apply border-mygray border-[1px] h-9 px-2 rounded-lg;
}

button {
  cursor: pointer;
}

@theme {
  --color-mygray: #b8bfc6;
  --color-primary: #0f5e5b;
}

.auth-image {
  background-image: url("/images/landing-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
